.hero-container {
    background-color: #e3f6f5;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.button {
    background-color: #79c2d0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.about-container {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.header {
    font-size: 20px;
}